.scheduler-info {
    font-size: 10px;
}

.cpus-container, .processes-container {
    overflow-x: scroll;
}

.processes-container .process-priority {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.processes-container .process-priority.target {
    border: dotted blue 2px;
    border-radius: 50%;
}

.cpu-box, .process-box {
    position: relative;
    margin-left: 5px;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
}

.cpu-box {
    border: dashed 1px black;
}

.process-box {
    border: solid 1px black;
}

.process-box .quantum, .cpu-box .quantum {
    font-size: 10px;
    color: chocolate
}

.process-box .priority, .cpu-box .priority {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    font-size: 10px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 50%
}

.process-box.aborted-process {
    background-color: rgba(255, 0, 0, 0.2);
}

.memory .block-memory {
    margin-bottom: 2px;
    border: 1px black solid;
    font-size: 15px;
}

.memory .block-memory.allocated {
    background-color: rgba(0, 255, 255, .3);
}

.memory .block-memory .block-id {
    font-weight: 700;
}

.process-box.terminated-process {
    background-color: rgba(0, 128, 0, 0.2);
}

.process-box .process-deadline, .cpu-box .process-deadline {
    font-size: 12px;
    color: gray;
}

.process-box .process-status {
    font-size: 7px;
}